body {
    background-color: white;
    font-size: 36px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@font-face {
    font-family: 'Pukhlyash';
    src: url("./fonts/Pukhlyash-Regular.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

hr {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    height: 125px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    font-family: 'Pukhlyash';
    font-size: 60px;
    padding-top: 29px;
    color: #ADFF00;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding-top: 15px;
}

.menu {
    text-decoration: none;
    margin: 25px;
    font-size: 24px;
    color: black;
}

.button_menu {
    color: black;
    font-size: 24px;
    text-decoration: none;
    padding: 11px 29px;
    border-radius: 50px;
    background-color:  #ADFF00;
}

.menu:hover {
    color:  #ADFF00;
    transition: 0.3s;
    text-decoration: underline;
}

.button_menu:hover {
   background-color: black;
   color:  #ADFF00;
    transition: 0.5s;
}

.back {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url("./img/Group\ 1.png") center no-repeat;
    background-size: cover;
}

.title {
    font-size: 365px;
    text-align: center;
}

.subtitle {
    font-size: 48px;
    text-align: center;
    padding-bottom: 40px;
    font-weight: 400;
}

.button {
    width: 100%;
    max-width: 623px;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    margin: auto;
    text-align: center;
    background-color: #ADFF00;
    border-radius: 118px;
    padding: 48px 25px;
    margin-top: 111px;
    margin-bottom: 111px;
}

.button:hover {
    background-color: black;
    color: #ADFF00;
    transition: 0.5s;
    cursor: pointer;
}

.title2 {
    padding-top: 77px;
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.block3 {
    display: flex;
    width: 100%;
    background: url("./img/Group\ 2\ \(1\).png") center no-repeat;
    background-size: cover;
}

.insc {
    padding-bottom: 25px;

}

.insc2 {
    padding-bottom: 113px;
}

.title3 {
    font-size: 102px;
    font-weight: 700;
    padding-top: 44px;
    padding-top: 70px;
}

.insc3 {
    padding-top: 59px;
}

.insc4 {
    padding-top: 59px;
    padding-bottom: 122px;
}

.button3 {
    margin-top: 94px;
    font-size: 40px;
    font-weight: 400;
    width: 100%;
    max-width: 366px;
    color: black;
    text-decoration: none;
    padding: 38px 20px;
    border-radius: 118px;
    background-color:  #ADFF00;
    text-align: center;
}

.button3:hover {
    background-color: black;
    color: #ADFF00;
    transition: 0.5s;
    cursor: pointer;
}