* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Pukhlyash';
    src: url("./fonts/Pukhlyash-Regular.otf") format("opentype");
}
    


/* common */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

.h2 {
    font-size: 60px;
}

p {
    margin: 0;
}

hr {
    margin: 0;
}

address, a {
    font-style: normal;
    text-decoration: none;
}

.green {
    color: #ADFF00;
}

.modern-font {
    font-family: 'Pukhlyash';
}

.menu {
    font-size: 24px;
    color: black;
}

.insc {
    font-size: 36px;
    color: black;
}

.insc-w {
    font-size: 36px;
    color: white;
}

.insc-f {
    font-size: 32px;
    color: black;
}

.insc::after, .insc-f::after {
    text-decoration: none;
    color: black;
}

.button {
    width: max-content;
    height: 120px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 40px;
    color: black;
    background-color: #ADFF00;
    border-radius: 118px;
    border: none;
    margin-left: auto;
    margin-right: auto;   
}

hr {
    border: 2px solid black;
    border-bottom-width: 0;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: bold;
    font-size: 102px;
}



/* header */

nav {
    width: 1280px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 29px;
}

.nav {
    list-style: none;
    display: flex;
    margin-top: 46px;
}

.menu {
    margin-left: 51px;
}

.button-menu {
    margin-top: -17px;
    margin-left: 27px;
    padding: 17px 29px 17px 29px;
    border-radius: 50px;
    background-color: #ADFF00;
    border: none;
}



/* first */

.first {
    height: 904px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(./img/back-1.png);
}

h1 {
    text-align: center;
    font-size: 365px;
    font-weight: bold;
}

.subtitle {
    margin-top: -30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-size: 48px;
}

.button2 {
    margin-top: 111px;
    margin-bottom: 111px;
    padding-top: 36px;
}



/* about - contacts */

.about {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.about-text1 {
    margin-top: 40px;
}

.about-text2 {
    margin-top: 25px;
    margin-bottom: 113px;
}

.contacts {
    height: 1593px;
    width: 100%;
    background-image: url(./img/back-2.png);
}

.in {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.contacts-title {
    padding-top: 70px;
    padding-bottom: 80px;
}

.button-contacts {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 0;
}

.contacts-end {
    margin-top: 27px;
}



/* posters */

.posters {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 3100px;
}

h4 {
    text-align: center;
    font-size: 103px;
    padding-top: 58px;
    padding-bottom: 45px;
}

h5 {
    margin-bottom: 15px;
    font-weight: bold;
}

.poster-text {
    margin-bottom: 87px;
}

.poster2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.poster1 {
    width: 631px;
    height: 902px;
}

.big-font {
    font-size: 357px;
    text-align: center;
}

/* footer */

footer {
    background-image: url(./img/back-3.png);
    height: 465px;
}

.footer-title {
    font-size: 64px;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 81px;
}

.footer-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
}

.address-f {
    margin-bottom: 40px;
}

.right {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.right-content {
    text-align: right;
}



/* animation */

.button-menu, .button, 
.menu, a, address, time {
    transition: 0.4s;
}

.button-menu:hover, .button:hover {
    color: #ADFF00;
    background-color: black;
    transition: 0.4s;
}

.menu:hover, a:hover, address:hover, time:hover {
    color: #ADFF00;
    transition: 0.4s;
}

.menu, a, address, time {
    width: max-content;
}